h1 a {
    color: #00cc99;
    font-family: 'Hind', sans-serif;
}



.page-header {
    background-color: #00cc99;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.content {
    margin-left: 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.publish-date {
  color: #aaa;
  margin-bottom: -21px;
  font-size: 10px;
  font-family: hind;
}

.excerpt {
  border-bottom: solid 1px #ececec;
  padding-bottom: 10px;
}
